#div1{
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    margin: 0;
    text-align: center;
}
#div2{
    position: absolute;
    bottom: 0;
    left: 0;
}
#div3{
    border: 2px solid black;
    position: absolute;
    top: 55vh;
    width: 99vw;
    height: 220px;
    left: 0;
    text-align: center;
}
#form1{
    height: 35vh;
    width: 99vw;
    position: absolute;
    top: 18vh;
    left: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 2px solid black;
}
.sub_btn{
    position: relative;
    top: 5%;
    border: 3px solid black;
    border-radius: 25px;
    height: 200px;
    width: 180px;
}
#sub1{
    margin-left: 1%;
}
#sub2{
    margin-left: 1%;
}
#sub3{
    margin-left: 1%;
}
#sub4{
    margin-left: 1%;
}
#sub5{
    margin-left: 1%;
}
#sub6{
    margin-left: 1%;
}
.link_variable{
    border: 1px dashed blue;
    position: absolute;
    height: 50px;
    width: 350px;
    text-align: center;
}
#divTB{
    left: 10%;
}
#divNts{
    margin-top: 20vh;
    left: 10%;
}
#divQP{
    right: 10%;
}
#divLab{
    margin-top: 20vh;
    right: 10%;
}
#backbtn{
    position: absolute;
    border: 2px solid black;
    top: 10vh;
}