<!-- reset_confirm.html -->
{% extends 'base.html' %}
{% block title %}Set New Password | PMS{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-secondary text-white">Set New Password</div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-secondary">Update Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
