
body{
    background-image: url("./upscalemedia-transformed.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.head-banner{
    position: absolute;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100vw;
    background-color: transparent;
    box-shadow: 0px 0px 20px #66ff00;
    background-color: rgba(0, 0, 0, 0.5);
}
.logo{
    position: absolute;
    left: 0;
    height: 100%;
    width: 10%;
}
.college-name{
    position: relative;
    left: 10%;
    top: 20%;
    height: 50%;
    width: 5%;
    color: white;
    font-weight: bold;
    color: #66ff00;
}
.dept-name{
    position: absolute;
    left: 35%;
    top: 10%;
    height: 20%;
    width: 30%;
    color: white;
    font-weight: bold;
    font-size: 21px;
    color: #66ff00;
}
.head-banner-btn{
    position: absolute;
    top: 50%;
    height: 25%;
    border: 0px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0);
    color: #66ff00;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0px 0px 10px 1px #66ff00;
}
#ABOUT{
    left: 25%;
    width: 5%;
}
#SEM1{
    right: 5%;
    width: 3%;
}
#SEM2{
    right: 10%;
    width: 3%;
}
#SEM3{
    right: 15%;
    width: 3%;
}
#TIMETABLE{
    right: 20%;
    width: 7%;
}
.main-content{
    position: relative;
    left: 20vw;
    top: 25vh;
    height: 25vh;
    width: 60vw;
    border: 0px;
    border-radius: 3px;
    background-color: rgba(102, 255, 0, 0.8);
    overflow-y: scroll;
    box-sizing: border-box;
}
.main-content-title{
    text-align: center;
    box-shadow: 0px 0px 15px black;
    background-color: black;
    color: #66ff00;
    font-weight: bold;
    font-size: 18px;
}
.event-list{
    position: relative;
    margin-left: 10%;
    font-size: 18px;
}
.pop-up-display{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width:100vw;
    background-color: rgba(102, 255, 0, 0.6);
    display: none;
}
aside.pop-up-display embed{
    position: absolute;
    top: 10%;
    left: 20%;
    height: 60%;
    width: 60%;
    display: none;
}
.close-btn{
    position: absolute;
    bottom: 15%;
    left: 47%;
    height: 5%;
    width: 5%;
    border: 0px;
    border-radius: 3px;
    background-color: red;
    color: white;
    font-size: 1.2rem;
}
/*hovering*/

.head-banner-btn:hover{
    background-color: #66ff00;
    color: black;

}
.dept-name:hover, .college-name:hover{
    text-decoration: underline 1px;
}
.head-banner-btn:focus{
    transform: scale(0.9);
}
