body{
    background-image: url("./upscalemedia-transformed.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.head-banner{
    position: absolute;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100vw;
    background-color: transparent;
    box-shadow: 0px 0px 20px #66ff00;
    background-color: rgba(0, 0, 0, 0.5);
}
.logo{
    position: absolute;
    left: 0;
    height: 100%;
    width: 10%;
}
.college-name{
    position: relative;
    left: 10%;
    top: 20%;
    height: 50%;
    width: 5%;
    color: white;
    font-weight: bold;
    color: #66ff00;
}
.dept-name{
    position: absolute;
    left: 35%;
    top: 10%;
    height: 20%;
    width: 30%;
    color: white;
    font-weight: bold;
    font-size: 21px;
    color: #66ff00;
}
.head-banner-btn{
    position: absolute;
    top: 50%;
    height: 25%;
    border: 0px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #66ff00;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0px 0px 10px 1px #66ff00;
}
#BACK{
    left: 30%;
    width: 5%;
}
#REQUEST{
    right: 10%;
    width: 5%;
}
#ATTENDANCE{
    left: 50%;
    width: 7%;
}
#IA{
    left: 70%;
    width: 3%;
}
.whole{
    position: absolute;
    top: 15%;
    left: 0;
    height: 85vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
}
.download-content{
    position: absolute;
    left: 25%;
    top: 0;
    height: 100%;
    width: 75%;
    background-color: rgba(102, 255, 0, 0.8);
    overflow-y: scroll;
    padding: 15px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 3px;
    color: black;
    box-shadow: 0px 0px 10px #66ff00;
}
.subject-1, .subject-2, .subject-3, .subject-4, .subject-5, .subject-6{
    position: relative;
    height: 20%;
    width: 95%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1.5px black solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}
.subject-btn{
    height: 40%;
    width: 10%;
    border: 0px;
    border-radius: 3px;
    color: black;
    background-color: #66ff00;
    box-shadow: 5px 0px 10px 1px black;
    font-weight: bold;
}
.digital-display{
    position: absolute;
    font-size: 6.5rem;
    left: 0;
    top: 0;
    height: 100%;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #66ff00;
}
.pop-up-display{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width:100vw;
    background-color: rgba(102, 255, 0, 0.6);
    display: none;
}
.close-btn{
    position: absolute;
    bottom: 15%;
    left: 47%;
    height: 5%;
    width: 5%;
    border: 0px;
    border-radius: 3px;
    background-color: red;
    color: white;
    font-size: 1.2rem;
}

/*hovering*/

.head-banner-btn:hover{
    background-color: #66ff00;
    color: black;
}
.dept-name:hover, .college-name:hover{
    text-decoration: 1px underline;
}
.subject-btn:hover{
    background-color: black;
    color: #66ff00;
    outline: 0px;
    box-shadow: 0px 0px 5px black;
}
